<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>PageRedirectSecurityFilter</filter-name>
        <filter-class>com.dsu.accoutingdsu.web_controller.filter.PageRedirectSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PageRedirectSecurityFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.dsu.accoutingdsu.web_controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>com.dsu.accoutingdsu.web_controller.dispatcherServlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersannelDepartment</servlet-name>
        <servlet-class>com.dsu.accoutingdsu.web_controller.PersannelDepartment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersannelDepartment</servlet-name>
        <url-pattern>/PersannelDepartment</url-pattern>
        <url-pattern>/staf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>Настройка колонтитулов</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/persannelDepartment/staf.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
